*{
    padding:0;
    margin:0;
}

.home__bg{
    background-image: url(../assets/undraw_coffee_with_friends_3cbj.png);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon{
    margin-left: 10px;
    display: inline-block;
}